*.class
*.iml
*.ipr
*.log
.DS_Store
.cache
.bsp/
.history
.idea
.idea/
.lib
.pants.d
.pants.workdir*
.pids
access.log
dataservice/target
dist
dist/
lib_managed/
logs
out/
project/boot/
project/plugins/project/
sbt-launch.jar
target/
twitterserver.log
